/* ===============================
         !! जय श्री राम !!
=========================*/

html, body {
    width: 100%;
    height: 100%;
    background-color:blue;
  }
  
  .container {
    padding: 75px 0;
    margin: 0 auto;
    width: 1140px;
  }
  
  h1 {
    position: relative;
    margin-bottom: 45px;
    font-family: "Oswald", sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    color:#fff;
    text-align: center;
  }
  
  .Images-wrap {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    height: 100vh;
  }
  
  .photo {
    flex: 1;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
    filter: blur(1px);
    border-radius: 15px;
  }
  
  .photo:hover {
    flex:15;
    filter: blur(0px);
  }
  
/*===============================
        राम-राम-सा 
=========================*/

  .photo-1 {
    background-image: url("https://wallpaperset.com/w/full/0/3/3/163859.jpg");
  }
  
  .photo-2 {
    background-image: url("https://wallpaperset.com/w/full/5/7/1/163862.jpg");
  }
  
  .photo-3 {
    background-image: url("https://wallpaperset.com/w/full/f/a/b/163864.jpg");
  }
  
  .photo-4 {
    background-image: url("https://wallpaperset.com/w/full/9/6/9/163884.jpg");
 
  }
  
  .photo-5 {
    background-image: url("https://wallpaperset.com/w/full/6/2/b/163924.jpg");
  }

  .photo-6 {
    background-image: url("https://wallpaperset.com/w/full/3/2/c/163928.jpg");
  }

  .photo-7 {
    background-image: url("https://wallpaperset.com/w/full/9/f/9/163938.jpg");
  }

  .photo-8 {
    background-image: url("https://wallpaperset.com/w/full/5/9/7/163949.jpg");
  }
  .photo-9 {
    background-image: url("https://wallpaperset.com/w/full/d/c/2/163953.jpg");
  }
  .photo-10 {
    background-image: url("https://wallpaperset.com/w/full/c/b/6/163957.jpg");
  }
  .photo-11 {
    background-image: url("https://wallpaperset.com/w/full/4/f/5/163962.jpg");
  }
  .photo-12 {
    background-image: url("https://wallpaperset.com/w/full/2/e/7/163970.jpg");
  }
